{% extends "base/base.html" %}

{% block title %}Usuarios{% endblock %}

{% block content %}
    <h1>Listado de usuarios</h1>

    <div class="card">
        <p>Los usuarios y roles del sistema se administran principalmente desde Django Admin.</p>
        <p>Para pruebas iniciales se han previsto estos perfiles:</p>

        <ul>
            <li><strong>Formulador:</strong> crea y edita proyectos, carga anexos.</li>
            <li><strong>Revisor:</strong> registra observaciones de revisión.</li>
            <li><strong>Aprobador:</strong> cambia estado y archiva proyectos.</li>
            <li><strong>Consulta:</strong> solo visualiza.</li>
        </ul>
    </div>
{% endblock %}